<h1>Veículos Cadastrados</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Cor</th>
        <th>Ano</th>
    </tr>

    {{#each veiculos}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.modelo}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.cor}}</td>
        <td>{{this.ano}}</td>
    </tr>
    {{/each}}
</table>